

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use 'ngx-toastr/toastr';
@use "tailwindcss";

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}/* You can add global styles to this file, and also import other style files */

$error-color: #ff6c6c;

$transparent: rgba(145, 145, 145, 0);

.error-text {
  color: $error-color;
}

.white-text {
  color: white;
}



:root {
  @include mat.form-field-overrides((
    filled-container-color: #111926,
    filled-label-text-color: white,
    filled-active-indicator-color: white,
    filled-hover-active-indicator-color: #6ab3ff,
    filled-hover-label-text-color: #6ab3ff,
    filled-error-hover-label-text-color: $error-color,
    filled-error-label-text-color: $error-color,
    filled-error-hover-active-indicator-color: $error-color,
    filled-error-active-indicator-color: $error-color,
    filled-error-focus-active-indicator-color: $error-color,
    filled-input-text-color: white,
    error-text-color: $error-color,
  ));
  @include mat.menu-overrides((
    container-color: #a9a9a9,
    item-label-text-color: white,
    item-hover-state-layer-color: #101414,
  ));
  @include mat.select-overrides((
    panel-background-color: #a9a9a9,
    trigger-text-font: white,
    enabled-trigger-text-color: white,
    placeholder-text-color: white,
    invalid-arrow-color: $error-color,
    enabled-arrow-color: white,
  ));
  @include mat.dialog-overrides((
    container-color: $transparent,
  ));
  @include mat.progress-spinner-overrides((
    active-indicator-color: #6ab3ff
  ));
  @include mat.expansion-overrides((
    container-background-color: #243659,
    header-indicator-color: white,
  ));
  @include mat.divider-overrides((
    color: #6ab3ff
  ))
}

body {
  height: 100vh;
  width: 100vw;
  display: block;
  box-sizing: border-box;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html {
  overflow: hidden;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.overflow-x-auto {
  overflow-x: auto;
}

.hide-scrollbar {
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
  }
}

.overflow-y-auto {
  overflow-y: auto;
}

.max-content {
  height: calc(100vh - 73px);
  overflow-y: auto;
  overflow-x: hidden;
}

::ng-deep .mat-mdc-form-field {
  width: 100%!important;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-contacts-auto-fill-button,
input[type="password"]::-webkit-credentials-auto-fill-button {
  display: none !important;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
}

